<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container-flex p-3 mb-2 bg-dark text-white">

    <div class="row">
        <div class="col-md-5">
            <textarea class="myTextArea" rows="23 resize: none;"
                (input)="mandarAFormatear(textoGuardado)"
                [(ngModel)]="textoGuardado"></textarea>
            <div class="btn-group">
                <button class="btn btn-dark" (click)="borrarAreaDeTexto()">Borrar texto</button>
                <button class="btn btn-dark" (click)="mandarAFormatear(textoGuardado)">Volver a generar</button>
                <button class="btn btn-dark" (click)="borrarLocalStorage()">Borrar tablas</button>
            </div>
        </div>
        <div class="col-md-7">
            <table *ngIf="arrayNoVacio()" class="table table-striped
                table-bordered table-dark">
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Hora</th>
                        <th>Tipo</th>
                        <th>Doctor</th>
                        <th>Comprobante</th>
                    </tr>
                </thead>
                <tbody id="turnos">
                    <tr *ngFor="let item of arrayGuardado">
                        <td>
                            {{item.dni}}
                        </td>
                        <td>
                            {{item.nombre}}
                        </td>
                        <td>
                            {{item.hora}}
                        </td>
                        <td>
                            {{item.tipo}}
                        </td>
                        <td>
                            {{item.doctor}}
                        </td>
                        <td>
                            {{item.comprobante}}
                        </td>
                    </tr>
                </tbody>
                <div>
                    <button class="btn btn-dark"
                        (click)="copyContent('turnos')">Copiar</button>
                </div>
            </table>
            <table *ngIf="arrayFiltradoNoVacio()" class="table table-striped
                table-bordered table-dark">
                <thead>
                    <tr>
                        <th>FECHA</th>
                        <th>DNI</th>
                        <th>NOMBRE</th>
                        <th>SEÑA</th>
                        <th>TOTAL DÍA</th>
                    </tr>
                </thead>
                <tbody id="turnosFiltrados">
                    <tr *ngFor="let item of arrayGuardadoFiltrado[0] last as
                        total">
                        <td>
                            {{retornoFecha}}
                        </td>
                        <td>
                            {{item.dni}}
                        </td>
                        <td>
                            {{item.nombre}}
                        </td>
                        <td>
                            {{item.tipo}}
                        </td>
                        <td *ngIf="total">
                            {{arrayGuardadoFiltrado[4]}}
                        </td>
                    </tr>
                </tbody>
                <div>
                    <button class="btn btn-dark"
                        (click)="copyContent('turnosFiltrados')">Copiar</button>
                </div>
            </table>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
<!-- Agregar 2da tabla para el forms
FECHA - DNI - NOMBRE - SEÑA - TOTAL DIA-->